{% extends "feels_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>The Feels Log Secret Leslie Page</h1>
{% endblock page_header %}

{% block content %}
    
<div class="jumbotron">
    <h1 class="display-3">Good morning, Leslie!</h1>
    {% if user.is_authenticated %}
        <div>
            <p>Welcome in, {{ user.username }}.  Thank you for creating an account!</p>
            <h4>Are you having a good day so far?</h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#why">
                Yes! (:
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#yeahYeahYeah">
                No... :(
            </button>  
            <!-- Modal -->
            <div class="modal fade" id="why" tabindex="-1" role="dialog" aria-labelledby="whyModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="whyModalLabel">Awesome!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        I hope your day just keeps getting better, and you stay as busy as you want, and you learn new things.  You're awesome!
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="yeahYeahYeah" tabindex="-1" role="dialog" aria-labelledby="yeahYeahYeahModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="yeahYeahYeahModalLabel">Aww...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        I hope it gets better.  On the bright side, Dante is at home waiting for you ):
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p class="lead">You will need to login to view more secret content!  If you havent: please register below.  After being re-directed to the welcome page, add /leslie to the end of the URL.</p>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
    {% endif %}
</div>

{% endblock content %}